```markdown
### Table: Employees

| Column Name | Type    |
|-------------|---------|
| employee_id | int     |
| name        | varchar |
| salary      | int     |

- **employee_id** is the primary key (column with unique values) for this table.
- Each row of this table indicates the employee ID, employee name, and salary.

---

Write a solution to calculate the bonus of each employee.
The bonus of an employee is 100% of their salary if the ID of the employee is an odd number and the employee's name does not start with the character 'M'.
The bonus of an employee is 0 otherwise.

Return the result table ordered by **employee_id**.

The result format is shown in the following example.

---

#### Example 1:

**Input:**
Employees table:

| employee_id | name    | salary |
|-------------|---------|--------|
| 2           | Meir    | 3000   |
| 3           | Michael | 3800   |
| 7           | Addilyn | 7400   |
| 8           | Juan    | 6100   |
| 9           | Kannon  | 7700   |

**Output:**

| employee_id | bonus |
|-------------|-------|
| 2           | 0     |
| 3           | 0     |
| 7           | 7400  |
| 8           | 0     |
| 9           | 7700  |

**Explanation:**
- Employees with IDs 2 and 8 get a bonus of 0 because they have an even **employee_id**.
- The employee with ID 3 gets a bonus of 0 because their name starts with 'M'.
- The remaining employees receive a 100% bonus of their salary.
```

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees.apply(lambda x: x['salary'] if x['employee_id'] % 2 != 0 and not x['name'].startswith('M') else 0, axis=1)
    employees = employees[['employee_id', 'bonus']].sort_values(by='employee_id')

    return employees